@model CreateTicketViewModel


<form asp-controller="Tickets" asp-action="Create" method="post" class="seat-form">
   <input asp-for="@Model.Price" type="text" placeholder="Price" id="price" name="Price">
   <input asp-for="@Model.TicketsCount" type="number" name="TicketsCount" min="1" max="999" placeholder="Tickets Counter" >
   <span asp-validation-for="@Model.Price" class="text-danger"></span>
   <span asp-validation-for="@Model.TicketsCount" class="text-danger"></span>
   <button type="submit" class="create-seat" value="Create Seat">Create Seat</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}