@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300&family=PT+Sans&family=PT+Serif&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0 200px;
}

header{
    width: 700px;
    margin: 0 auto;
}

hr{
    width: 60px;
    height: 2px solid;

}
header nav li{
    display: inline-block;
    padding-right: 80px;
}

header nav li a{
    font-weight: 700;
    color: rgb(214,116,114) ;
    text-decoration: none;
}

header ul{
    padding-left: 80px;
}

.upper{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url('./Images/header-flower.png') no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

.upper h1{
    padding-top: 400px;
    font-size: 44px;
    margin: 0 auto;
}

.upper p{
    width: 30%;
    padding-left: 10px;
    font-weight: bold;
    padding-bottom: 240px;
    margin: 0 auto;
}

.upper hr{
    border-color: rgb(214,116,114);
}

.middle{
    text-align: center;
    color: white;
    background-color: rgb(214,116,114);
}

.middle h3{
    margin: 0 auto;
    padding-top: 30px;
    font-size: 22px;
}

.middle p{
    width: 30%;
    font-weight: bolder;
    padding-left: 520px;
}

.middle button{
    font-size: 12px;
    font-weight: bold;
    color: rgb(214,116,114);
    padding: 12px 17px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.bottom article{
    display: inline-block;
    width: 14%;
    text-align: center;
    vertical-align: middle;
    height: 350px;
}

.bottom h2{
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.bottom hr{
    border-color: rgb(214,116,114);
    margin-bottom: 30px;
}

.bottom img{
    width: 100px;
}
body > main > section.bottom > article:nth-child(4){
    padding: 0px 60px;
}

body > main > section.bottom > article:nth-child(3){
    padding-left: 374px;
}

footer{
    background-color:rgb(214,116,114);
    text-align: center;
    color: white;
    padding: 10px 0;
}
