body{
    padding: 5rem;
    background-color: #eee;
}

.gallery{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.gallery li{
    display: inline-block;
    width: 18rem;
    background-color: #fff;
    border: 0.4rem solid #000;
    padding: 1rem;
    vertical-align: middle;
    margin: 0.5rem;
}

.gallery li img{
    display: block;
    width: 100%;
    height: auto;
}