div:nth-child(1){
    background: linear-gradient(to right, rgb(23, 82, 182), rgb(74, 211, 242));
}

div:nth-child(2){
    background: linear-gradient(to right, rgb(161, 12, 126), rgb(229, 36, 36));
}

section{
    display: block;
    position: absolute;
    width: 14%;
    padding-left: 23%;
}

img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

div{
    height: 50vh;
    display: flex;
    align-items: center;
}

body{
    width: 60%;
    margin: 0 auto;
    background-color: black;
}

i{
    position: absolute;
    right: 5px;
    bottom: 10px;
}