@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to "Central Bus Station"</h1>
    <hr />
    <h2>On our platform you can book a ticket to HELL.</h2>
</div>
