@{
    ViewData["Title"] = "About Page";
}
<div class="class= container-fluid text-sm-center p-5 bg-light">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h2 class="display-2">@ViewBag.Message</h2>
    <hr class="my-4">
    <p class="lead">This is the About page of our first ASP.NET Core MVC app. </p>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>